@charset "utf 8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}

:root{
    --cor1: #bfd3f5;
    --cor2: #a7badb;
    --cor3: #3C547D;
    --cor4: #040336; 
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

@keyframes slides{
    from{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

body{
    background-color: var(--cor1);
 
}

.menu{
position: sticky;
top: 0;

}

header{
   
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3),var(--cor3));
    height: 214px;
    padding-top: 75px;
    
    
}
header h1 {
    
        opacity: 0;
        transform: translateY(-20px);
         animation-name: slides;
        animation-duration: 1s;
        animation-fill-mode: forwards;
         color: white;
        text-align: center;
        margin-bottom: 10px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.014);
        font-family: var(--fonte-destaque);
        font-size: 3.5em;
        
}
header p {
        opacity: 0;
        transform: translateY(20px);
        animation-name: slides;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.075);
    margin-top: 10px;
    }
header img{
        display: block;
        margin: auto;
        
            }
    
nav{
    
      
    background-color: var(--cor3);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-top: 0.00001px;
    border-top-style: solid;
    
   
    
}
nav a{
    opacity: 0;
    transform: translateX(-20px);
    animation-name: slides;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    padding: 8px;
    
}
nav a:hover{
   background-color: var(--cor4);
   color: white;
   padding: 8px;
   border-radius: 2px;
   
}
main{
    min-width: 400px;
    max-width: 1100px;
    padding: 20px;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
    
}
main h1{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    margin: 0px 0px 10px 0px;
    font-weight: 100;
    font-size: 2em;
       
}
main h2{
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to right, var(--cor4), var(--cor2));
    color: white;
    font-weight: 100;
    padding-left: 10px;
    border-radius: 5px;
    
}
main p{
    display: inline-block;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    line-height: 2em;
    margin: 50px 10px 0px 50px;
    font-weight: 500;
}
.container{
    
       
      
    display: flex;
    margin-bottom: 10px;
}
.container img{
    margin-top: 5px;
}
footer{
    margin-top: 5px;
}
footer p{
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    font-size: 0.9em;
    background-color: var(--cor4);
    text-align: center;
    padding: 5px;

}