@charset "utf 8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0px;
    margin: 0px;
    
}

:root{
    --cor1: #bfd3f5;
    --cor2: #a7badb;
    --cor3: #060666;
    --cor4: #040336; 
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

@keyframes slides{
    from{
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

html{

    scroll-behavior: smooth;

}

body{
    background-color: var(--cor1);
    
 
}

header{
    background-color: var(--cor3);
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    
}
header h1 {
        opacity: 0;
        transform: translatey(20px);
        animation-name: slides;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        font-family: var(--fonte-destaque);
        font-size: 2.5em;

}
header p {
    opacity: 0;
    transform: translatey(20px);
    animation-name: slides;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.308);
    padding-bottom: 5px;
    }
header img{
    opacity: 0;
    transform: translateY(-20px);
    animation-name: slides;
    animation-duration: 1s;
    animation-fill-mode: forwards;
        display: block;
        margin: auto;
        
            }
    
nav{
    background-color: var(--cor4);
    color: white;
    text-decoration: none;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);
    border-top: 0.00001px;
    border-top-style: solid;
    
}
nav a{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    padding: 5px;
    
}
nav a:hover{
   background-color: var(--cor1);
   color: black;
   padding: 5px;
   border-radius: 2px;
   
}
main{
    opacity: 0;
    transform: translateX(-20px);
    animation-name: slides;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    min-width: 400px;
    max-width: 1100px;
    padding: 20px;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.219);;
}
.titulo1{
    font-family: var(--fonte-destaque);
    color: var(--cor4);
    margin: 0px 0px 10px 0px;
    font-weight: 100;
    font-size: 2em;
       
}
.titulo2{
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    color: var(--cor4);
    font-weight: 100;
    padding-left: 10px;
    border-radius: 5px;
    
}
main p{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
    margin: 10px 0px 10px 0px;
    
}
.imagem-principal{
    
    display: block;
    margin: auto; 
        
}
h2{
    margin: 10px;
}
.imagem-senior{
    margin-left: 20px;
    width: 150px;
}
.imagem-coord{
    width: 150px;
    margin-left: 20px;
}
.container{

display: flex;
margin: 10px,0px,10px,0px;

}
.paragrafo{

    margin-top: 50px;
    padding: 20px;
}

footer{
    margin-top: 5px;
}

footer p{
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    font-size: 0.9em;
    background-color: var(--cor4);
    text-align: center;
    padding: 5px;

}